
<table class="table-fixed min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="w-1/4 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Name
      </th>
      <th scope="col" class="w-1/4 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Start Date
      </th>
      <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Tech/Consulting
      </th>
      <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Pair 
      </th>
    </tr>
  </thead>
  <tbody>
    <% candidates.each_with_index do |candidate, index| %>
      <tr class="<%= index.even? ? 'bg-white' : 'bg-gray-50' %>">
        <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
          <%= link_to candidate.name, "https://testdouble.recruiterbox.com/app/#candidates/view:#{candidate.recruiterbox_id}/"  %>
        </td>
        <td class="px-6 pt-4 whitespace-nowrap text-sm text-gray-500">
          <%= time_ago_in_words(candidate.start_date) %>
        </td>
        <td class="text-center"><%= render partial: "#{candidate.consulting_state}_step", locals: { step_name: "Consulting" } %></td>
        <td class="text-center"><%= render partial: "#{candidate.pairing_state}_step", locals: { step_name: "Pairing" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>